@using Login2.Components
@page "/"

<h3>Inicio</h3>

<Saludo Nombre="Carlos Gómez" />
<Saludo Nombre="María López" />
<Saludo Nombre="Juan Pérez" />
<Saludo Nombre="Lucía Fernández" />

Welcome to your new app.
